body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.user-navigation {
    float: left;
}

.main {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.main .heading {
	margin-bottom: 10px;
}
.alert {
    font-weight: bold;
}
.errorlist {
    font-weight: normal;
}
.main .input-block {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
.main .link {
	margin-bottom: 15px;
}