<!DOCTYPE html>
<html lang="en">
	<head>
        {% load staticfiles %}

		<meta charset="UTF-8">
		<title>Tamo pranešėjas - {{ title }}</title>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "messenger/css/bootstrap.css" %}">
	    <link rel="stylesheet" type="text/css" href="{% static "messenger/css/styles.css" %}">
    </head>
	<body>
		<div class="container">
            <h1>Tamo pranešėjas</h1>

            {% include "messenger/user/navigation.html" %}

            <div class="main">
                {% block container %}
                    <h3 class="heading">{{ title }}</h3>

                    {% if form %}
                        {% include "form_errors.html" %}
                    {% endif %}
                {% endblock %}
            </div>
		</div>

		<!-- Javascript -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static "messenger/js/bootstrap.js" %}"></script>
	</body>
</html>