{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ message|safe }}</strong>
        </div>
    {% endfor %}
{% endif %}