{% if form.errors or form.non_field_errors %}
    <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Klaida!<br /><br />

            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.label }}
                        <ul class='errorlist'>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
    </div>
{% endif %}