{% extends "base.html" %}

{% block container %}
    {{ block.super }}

    <form method="POST" action=""> {% csrf_token %}
        {{ form.username }}
        {{ form.password }}

        <div class='link'><a href='{% url "messenger:registration" %}'>Dar neturite vartotojo?</a></div>

        <button class="btn btn-large btn-primary" type="submit">Jungtis</button>
    </form>
{% endblock container %}