{% extends "base.html" %}

{% block container %}
    {{ block.super }}

    <form method="POST" action=""> {% csrf_token %}
        {% include "flash_messages.html" %}

        {{ form.username }}
        {{ form.password }}
        {{ form.repeat_password }}
        {{ form.email }}

        <div class='link'><a href='{% url "messenger:index" %}'>Jau turite vartotoją?</a></div>

        <button class="btn btn-large btn-primary" type="submit">Registruotis</button>
    </form>
{% endblock container %}