{% extends "base.html" %}

{% block container %}
    {{ block.super }}

    <form method="POST" action=""> {% csrf_token %}
        {% include "flash_messages.html" %}

        {{ form.send_grades.label }}
        {{ form.send_grades }}<br />

        {{ form.send_tests.label }}
        {{ form.send_tests }}<br /><br />

        <button class="btn btn-large btn-primary" type="submit">Keisti</button>
        <a href="#explanation" role="button" class="btn btn-large btn-info" data-toggle="modal">Paaiškinimas</a>

        <div id="explanation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="explanation" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Funkcijų paaiškinimas</h3>
            </div>
            <div class="modal-body">
                <h4>Pažymiai</h4>
                <p>
                    Pasirinkę šią funkciją Jūs turėsite galimybę gauti naujausius pažymius tiesiai į savo telefoną.
                    Kai naujas pažymys atsiras Jūsų TAMO vartotojo duomenų bazėje, jis nedelsiant bus išsiųstas SMS žinute
                    nurodytu numeriu.
                </p>
                <h4>Atsiskaitomieji darbai</h4>
                <p>
                    Pasirinkitę šią funkciją, likus vienai dienai iki atsiskaitomojo darbo, apie jį bus pranešta SMS žinute. Todėl
                    daugiau nepraleisite atsiskaitomųjų darbų ir spėsite jiems reikiamai pasiruošti.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Uždaryti</button>
            </div>
        </div>
    </form>
{% endblock container %}