{% if user.is_authenticated %}
    <ul class="nav nav-tabs nav-stacked user-navigation">
        <li><a href="{% url "messenger:user:index" %}">Pagrindinis</a></li>
        <li><a href="{% url "messenger:user:tamo" %}">Tamo vartotojas</a></li>
        <li><a href="{% url "messenger:user:functions" %}">Funkcijos</a></li>
        <li><a href="#">Nustatymai</a></li>
        <li><a href="{% url "messenger:user:logout" %}">Atsijungti</a></li>
    </ul>
{% endif %}