{% extends "base.html" %}

{% block container %}
    {{ block.super }}

    <form method="POST" action=""> {% csrf_token %}
        {% include "flash_messages.html" %}

        {{ form.username }}
        {{ form.password }}
        {{ form.phone }}

        {% if action == 'add' %}
            <button class="btn btn-large btn-primary" type="submit">Pridėti</button>
        {% else %}
            <button class="btn btn-large btn-primary" type="submit">Keisti</button>
            <a href="{% url "messenger:user:delete_tamo" %}"><div class="btn btn-large btn-danger">Trinti</div></a>
        {% endif %}
    </form>
{% endblock container %}